*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.container{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
    background-color: #3161e0;
}

.menu{
    width: 100%;
    position: relative;
}

header{
    width: 100%;
    background-color: #3161e0;
    height: 100px;
}


.discord-logo{
    margin-right: 150px;
    vertical-align: middle;
}

nav{
    display: inline-block;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    line-height: 100px;
    vertical-align: middle;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

.button{
    border-radius: 25px;
    text-decoration: none;
    padding: 8px 16px;
}

#login{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    vertical-align: middle;
    background-color: white;
    color: black;
    display: inline;
}

.jumbotron{
    height: 70vh;
    background-image: url('img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.text-container{
    width: 50%;
    max-width: 980px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.text-container h1{
    font-size: 50px;
    margin-bottom: 40px;
}

.text-container p{
    font-size: 20px;
}

.btn-white{
    background-color: white;
    color: black;
    float: left;
    margin: 20px 10px;
    position: relative;
    left: 80px;
    padding: 16px 32px;
}

.btn-black{
    background-color: #23272a;
    color: white;
    position: relative;
    top: 37px;
    padding: 16px 32px;
}


main section{
    height: 70vh;
    width: 80%;
    margin: auto;
}

.main-content{
    margin-top: 100px;
    position: relative;
}

.main-content img{
    width: 60%;
}

.main-content h1, .main-content p{
    float: right;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    margin-top: 40px;
}

.main-content .sottotitolo{
    font-size: 40px;
}

.main-content .descrizione{
    margin-top: 300px;
    
}

.section-container:nth-child(2), .section-container:nth-child(4){
    width: 100%;
    background-color: #f6f6f6;
}

.dettagli{
    position: absolute;
    top: 0;
    left: 0;
}

/* differenziazione nel secondo contenitore per invertire le posizioni dell'immagine e i testi*/
.main-content .dettagli h1, .main-content .dettagli p{
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
}

.immagine-destra{
    float: right;
}


/*Sezione finale del main*/
.final-section-container{
    text-align: center;
    padding-top: 100px;
}

/*Altezza doppia per la sezione finale prima del footer*/
.section-container#finale{
    height: 140vh;
}

.final-section-container img{
    width: 80%;
}
.final-section-container h1{
    font-size: 40px;
    margin-bottom: 40px;
}

.final-section-container .description{
    width: 80%;
    margin-left: 100px;
}

.button.btn-blue{
    background-color: #8ea1e1;
    color: white;
    position: relative;
    top: 50px;
    font-size: 20px;
    padding-top: 8px 16px;
}



/*inizio footer*/
footer{
    background-color: #23272a;
    height: 70vh;
}

footer .final-container{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    position: relative;
    
}

footer .final-container .colonna-1{
    width: 20%;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;
}
footer .final-container h2{
    color: #8ea1e1;
    margin-bottom: 20px;
    font-size: 25px;
}

.colonna-1 a{
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 20px;
}
.colonna-1 i{
    color: white;
    padding-right: 20px;
}

.final-container .colonna-di-navigazione{
    display: inline-block;
    height: 200px;
    margin-left: 50px;
}

.colonna-di-navigazione h3{
    color: #8ea1e1;
}

.colonna-di-navigazione .lista-footer ul li{
    display: block;
    margin-top: 10px;
    line-height: 20px;
    margin-left: 0;
    color: white;
}